body {
  padding: 0;
  text-align: center;
}

#start-screen {
  display: block;
  padding: 20px 10px;
}

#game-container {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

#game-screen {
  display: none;
  align-content: center;
  overflow: hidden;
  background-color: red;
  position: relative;
}

#end-screen {
  display: none;
}

#end-screen img {
  height: 300px;
  width: 300px;
}

button {
  font-size: 35px;
  border: 0;
  background-color: rgb(9, 160, 110);
  padding: 20px 30px;
  border-radius: 20px;
}
