body {
  padding: 0;
  text-align: center;
}

#start-screen {
  display: block;
  padding: 20px 10px;
  height: 80vh;
  width: 100vw;
  background-image: url(/Project-1/Images/football-background.avif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#start-screen img {
  height: 250px;
}

#start-screen h2,
p {
  color: rgb(249, 249, 249);
}

h2 {
  font-size: 50px;
}

p {
  font-size: 30px;
}

#game-container {
  display: flex;
  justify-content: center;
}

#game-container p {
  color: rgb(0, 0, 0);
}

#game-screen {
  display: none;
  align-content: center;
  overflow: hidden;
  background-image: url(../Images/football-background.avif);
  background-size: cover;
  position: relative;
}

#end-screen {
  height: 80vh;
  width: 100vw;
  display: none;
  background-image: url(../Images/football-background.avif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#end-screen img {
  padding: 50px;
  height: 300px;
  width: 600px;
}

button {
  font-size: 35px;
  border: 0;
  background-color: rgb(9, 160, 110);
  padding: 20px 30px;
  border-radius: 20px;
}
